# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Eclipse
/bin
.settings
.project
.classpath

# IntelliJ
out/
.idea/
*.iml

# Misc
.DS_Store
CraftBukkit/