# Eclipse
/bin
.settings
.project
.classpath

# IntelliJ
.idea/
*.iml

# Gradle
/.gradle
/*/build/
/plugin/*/build/
/plugin/universal/test-environment/
/nms/src/generated/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache